bridge/src/lib/MockupDomainService/Service References/MonitorService/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Org.OpenEngSB.DotNet.Lib.MockupMonitor.Communication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Org.OpenEngSB.DotNet.Lib.MockupMonitor.Communication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SimpleMethodInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfSimpleParameterInfo" />
      <xs:element minOccurs="0" name="ReturnType" nillable="true" type="tns:SimpleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleMethodInfo" nillable="true" type="tns:SimpleMethodInfo" />
  <xs:complexType name="ArrayOfSimpleParameterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SimpleParameterInfo" nillable="true" type="tns:SimpleParameterInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSimpleParameterInfo" nillable="true" type="tns:ArrayOfSimpleParameterInfo" />
  <xs:complexType name="SimpleParameterInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterType" nillable="true" type="tns:SimpleType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleParameterInfo" nillable="true" type="tns:SimpleParameterInfo" />
  <xs:complexType name="SimpleType">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssemblyQualifiedName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseType" nillable="true" type="tns:SimpleType" />
      <xs:element minOccurs="0" name="ContainsGenericParameters" type="xs:boolean" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsArray" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsClass" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnum" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsGenericType" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsInterface" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPrimitive" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsSerializable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValueType" type="xs:boolean" />
      <xs:element minOccurs="0" name="Namespace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SimpleType" nillable="true" type="tns:SimpleType" />
  <xs:simpleType name="MethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Registered" />
      <xs:enumeration value="Retrieved" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MethodType" nillable="true" type="tns:MethodType" />
</xs:schema>